# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.development
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

python/cursor_reader.py
python/images/
python/csv/
python/json/
python/sql/
python/txt/

src/scripts/api/dump/
src/scripts/api/reso_sim.py

.venv/