button {
    margin: 5px;
    background-color: #d3869b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

button:disabled {
    background-color: #353142;
    
}

.item-img {
    max-height: 200px;
    width: auto;
    object-fit: contain;
	border-radius: 5px;
	margin: 10px;
}

.item-card {
    display: flex;
    padding: 5px;
    margin: 5px 10px;
    border-radius: 10px;
    flex: 1 1 400px;
    overflow: hidden;
    background-color: #353142;
}

.item-card h3 {
    line-height: 0;
    padding-top: 10px;
    padding-bottom: 1px;
}

.item-card h4 {
    color: #d3869b;
    font-style: italic;
    line-height: 0;
}

.page-input {
    max-width: 50px;
}

.page-input::-webkit-outer-spin-button,
.page-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#item-card-container {
    display: flex;
    flex-flow: row wrap;
}