button {
    margin: 5px;
    background-color: #d3869b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #e0aab9;
}

button:disabled {
    background-color: #353142;
    cursor: not-allowed;
    
}

.item-img {
    max-height: 200px;
    width: auto;
    object-fit: contain;
	border-radius: 5px;
	margin: 10px;
}

.item-card {
    display: flex;
    padding: 5px;
    margin: 5px 10px;
    border-radius: 10px;
    flex: 1 1 400px;
    overflow: hidden;
    background-color: #353142;
}

.item-card h3 {
    margin-top: 5px;
    margin-bottom: 0px;
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 1px;
}

.item-card h4 {
    margin-top: 10px;
    padding-top: 5px;
    color: #d3869b;
    font-style: italic;
    line-height: 0;
}

.page-input {
    max-width: 50px;
}

.page-input::-webkit-outer-spin-button,
.page-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.toggle-btn {
    background-color: #7E505D;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
}

.toggle-btn:hover {
    background-color: #a86b7c;
}

.toggle-btn.selected {
    background-color: #d3869b;
}

.toggle-btn.selected:hover {
    background-color: #e0aab9;
}

.source-btn {
    font-size: 14px;
}

.collapsible {
    width: 100%;
    background-color: #353142;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.collapsible.active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.collapsible:hover {
    background-color: #494554;
}

.filter-options {
    display: flex;
    flex-flow: row wrap;
}

#item-card-container {
    display: flex;
    flex-flow: row wrap;
}

#filter-container {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #353142a2;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 5px;
    margin-right: -5px;
    display: flex;
    flex-flow: row wrap;
}

#collapsible-filters {
    margin-bottom: 20px;
    
}