@import "header.css";
@import "tables.css";

html {
	background-color: #292535;
	color: white;
	font-family: 'PT Sans', sans-serif;
	
}

body {
	margin: 0;
	padding: 0;	
}

html, body {
	min-height: 100%;
	margin: 0;
  }

img {
	align-self: center;
	max-height: 50ch;
	max-width: 80%;
	width: auto;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	margin: 1rem 0;
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

* {
	box-sizing: border-box;
}

a:link {
	color: #a3c7f2;
	
}

a:visited {
	color: #b38aca;
}

strong {
	color: #edb1bd;
}

input {
    background-color: #353142;
    color: white;
    border: 1px solid #6c657d;
    padding: 5px 10px;
    margin: 0 10px;
    margin-bottom: 10px;
}

input[type=number] {
    font-size: 1rem;
    width: 70px;
}

input[type=text] {
    font-size: 1rem;
    width: 80%;
	margin-left: 0;
}

.content-container {
	margin: 0 auto;
	line-height: 1.5;
	min-height: calc(88vh - 100px);
	padding-bottom: 50px;
}

.guide-card {
	display: flex;
	background-color: #353142;
    padding: 15px;
    margin: 10px 20px;
    border-radius: 10px;
	overflow: hidden;
}

.card-row {
	flex-direction: row;
	max-height: 25vh;
}

.card-col {
	flex-direction: column;
}

.guide-card > img {
	height: auto;
	width: auto;
	object-fit: contain;
	border-radius: 5px;
	margin: 10px;
}

.img-card-row {
	max-width: 40%;
}

.img-card-col {
	max-height: 25%
}

.guide-card-link {
	text-decoration: none;
	max-height: 10vh;
}

.guide-card-link h3, .guide-card-link p {
	color: white;
}

.guide-card-link h3:hover {
	text-decoration: underline;
}

.resonance {
	width: 900px;
	margin: 10px auto;
	max-width: 95%;
}

.resonance-header {
	text-align: center;
	margin-bottom: 0px;
}

