---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>INL</title>
	</head>
	<body>
        <Navigation />
		<h1>About the Infinity Nikki Library</h1>
        <h2>WIP</h2>
        <p>This site is a compliation of information and guides for Infinity Nikki</p>
        <Footer />
    </body>
</html>
