---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/images/nikki_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
        <title>Dashboard | INL</title>
    </head>
    <body>
        <div class="flex items-center justify-center h-screen bg-discord-gray text-white flex-col">
            <div class="text-2xl">Welcome to the dashboard,</div>
            <div class="text-4xl mt-3 flex items-center font-medium" >
                <img src='' id="avatar" class="rounded-full w-12 h-12 mr-3"/>
                <div id="name"></div>
            </div>
            <a href="/" class="text-sm mt-5">Logout</a>
        </div>
    </body>
    <script>
        import "../scripts/dashboard.js"
    </script>
</html>