---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/png" href="src/images/pearfect_pal_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<title>Database | INL</title>
	</head>
	<body>
		<Header />
		<div class="site-content">
			<h1>Database</h1>
			<p>Clothing item details + stats</p>
		</div>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>