---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/database.css';
import ThemedTextField from '../components/ThemedTextField.jsx'
import MultipleSelectChipFilters from '../components/MultipleSelectChipFilters.jsx';
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/png" href="/images/pearfect_pal_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<title>Database | INL</title>
	</head>
	<body>
		<Header />
		<div class="content-container">
			<h1>Database</h1>
			<ThemedTextField label="Search by item or outfit" client:only />
			<div id="collapsible-filters">
				<button type="button" class="collapsible">
					<p>Filters</p>
					<p>+</p>
				</button>
				<div id="filter-container">
					<MultipleSelectChipFilters client:only />
				</div>
			</div>
			<div class="pagination-container"></div>
			<div id="item-card-container"></div>
			<div class="pagination-container"></div>
		</div>
		<Footer />
		<script>
			import "../scripts/resize.js"
			import "../scripts/database.js"
		</script>
	</body>
</html>