---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import '../styles/database.css';
import '../styles/dialog.css';
import ThemedTextField from '../components/ThemedTextField.jsx';
import DropdownSortSelect from '../components/DropdownSortSelect.jsx';
import DropdownModeSelect from '../components/DropdownModeSelect.jsx';
import MultipleSelectChipFilters from '../components/MultipleSelectChipFilters.jsx';
import ItemDialog from '../components/ItemDialog.jsx';
import ToggleGroup from '../components/ToggleGroup.jsx'
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/png" href="/images/nikki_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content="Infinity, Nikki, IN, Items, Database, Compendium, Clothes">
		<meta name="description" content="A full list of clothing items available in Infinity Nikki.">
		
		<meta property="og:title" content="Database | IN Library">
		<meta property="og:description" content="A full list of clothing items available in Infinity Nikki.">
		<meta property="og:image" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		<meta property="og:image:url" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		<meta property="og:image:type" content="image/png" />
		<meta property="og:url" content="https://infinitynikkilibrary.com/database/">
		<meta property="og:type" content="website">
		
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Database | IN Library">
		<meta name="twitter:description" content="A full list of clothing items available in Infinity Nikki.">
		<meta name="twitter:image" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		
		<title>Database | INL</title>
	</head>
	<body>
		<Header />
		<div class="content-container">
		<div style="display: flex; flex-wrap: wrap; justify-content: space-between, gap: 16px;">
			<h1 style="flex-grow: 1;" id="title">Database</h1>
			<DropdownModeSelect client:only="react" />
		</div>
			<p>A full list of clothing items available in Infinity Nikki.</p>
			<p><b>Status: </b>Up to date as of December 18th, just missing brightened images for Timeless Echo.<p>
			<ItemDialog client:only="react" />
			
			<div id="search-and-sort">
				<ThemedTextField label="Search by item or outfit" client:only="react" />
				<div id="sort">
					<button type="button" id="sort-btn">
						<img src="/images/descending_icon.png" class="btn-img show" />
						<img src="/images/ascending_icon.png" class="btn-img" />
					</button>
					<DropdownSortSelect client:only="react" />
				</div>
			</div>
			<div id="collapsible-filters">
				<button type="button" class="collapsible">
					<p>Filters</p>
					<p>+</p>
				</button>
				<div id = "filter-container">
					<div id="filter-dropdowns">
						<MultipleSelectChipFilters client:only="react" />
					</div>
					<ToggleGroup client:only="react" />
				</div>
			</div>
			<div class="pagination-container"></div>
			<div id="item-card-container"></div>
			<div class="pagination-container"></div>
		</div>
		<Footer />
		<script>
			import "../scripts/resize.js"
			import "../scripts/database.js"
		</script>
	</body>
</html>