---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<Header />

		<h1>Guides</h1>
		<p>Want to learn more about how Infinity Nikki works?</p>
		<ul>
			<li><a href="/guides/styling-battle-scoring/">Styling Battle Scoring</a></li>
		</ul>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>