---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SimpleSlider from '../components/SlickCarousel';
import '../styles/global.css';
import '../styles/carousel.css';
import "slick-carousel/slick/slick.css";
import "slick-carousel/slick/slick-theme.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/images/nikki_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="Infinity, Nikki, IN, Library, Information, Guides, Compendium, Resources">
		<meta name="description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland and in collaboration with the official Pearfect Guide program.">
		
		<meta property="og:title" content="Infinity Nikki Library">
		<meta property="og:description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland and in collaboration with the official Pearfect Guide program.">
		<meta property="og:image" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		<meta property="og:image:url" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		<meta property="og:image:type" content="image/png" />
		<meta property="og:url" content="https://infinitynikkilibrary.com/">
		<meta property="og:type" content="website">
		
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Infinity Nikki Library">
		<meta name="twitter:description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland and in collaboration with the official Pearfect Guide program.">
		<meta name="twitter:image" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		
		<title>Infinity Nikki Library</title>
	</head>
	<body>
		<Header />
		<div class="banner-container" id="homepage-banner"></div>
		<div class="content-container">
			<h1>Infinity Nikki Library</h1>
			<p>A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland and in collaboration with the official Pearfect Guide program.</p>
			<SimpleSlider client:load />
			
			<h2>Recently Updated Guides!</h2>
			<a href="resources/styling-challenge-scoring" class="guide-card-link">
				<div class="guide-card">
					<img src = "/images/guides/styling-challenge-scoring/styling_challenge_scoring_banner.jpeg" alt="Styling Challenge Scoring banner">
					<div class="guide-card-text">
						<h3>Styling Challenge Scoring</h3>
						<p>
							Last Updated: 12/04/2024 <br>
							A breakdown on how styling challenges are scored
						</p>
					</div>
				</div>
			</a>
		</div>
		<Footer />
		<script>
			import "../scripts/resize.js";
		</script>
	</body>
</html>
