---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Carousel from '../components/carousel/Carousel.jsx'
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/images/pearfect_pal_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="Infinity, Nikki, IN, Library, Information, Guides, Compendium, Resources">
		<meta name="description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland.">
		<title>Infinity Nikki Library </title>
	</head>
	<body>
		<Header />
		<div class="banner-container" id="homepage-banner"></div>
		<div class="content-container">
			<h1>Infinity Nikki Library</h1>
			<p>A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland.</p>
			
			<Carousel client:load />
			
			<h2>Recently Updated Guides!</h2>
			<a href="resources/styling-challenge-scoring" class="guide-card-link">
				<div class="guide-card">
					<img src = "/images/text-guides/styling-challenge-scoring/styling_challenge_scoring_banner.jpeg">
					<div class="guide-card-text">
						<h3>Styling Challenge Scoring</h3>
						<p>
							Last Updated: 12/04/2024 <br>
							A breakdown on how styling challenges are scored
						</p>
					</div>
				</div>
			</a>
		</div>
		<Footer />
		<script>
			import "../scripts/resize.js";
		</script>
	</body>
</html>
