---
import PhotoExpeditionsLayout from '../../layouts/PhotoExpeditionsLayout.astro';
import '../../styles/global.css';
import '../../styles/photo-expeditions.css';
---

<PhotoExpeditionsLayout>
    
            <div class="card" id="loc-4">
                <h2>4. Lilina's Statue</h2>
                <p>Contributed By: Neptunya<br>In Front of the Mayor's Residence, Florawish</p>
                <img src="/src/images/photo-expeditions/4_map_cropped.png" />
                <img src="/src/images/photo-expeditions/4_pic.jpeg" />
            </div>
            <div class="card" id="loc-7">
                <h2>7. Lakeside Picnic Area</h2>
                <p>Contributed By: Neptunya<br>In Front of the Mayor's Residence, Florawish</p>
                <img src="/src/images/photo-expeditions/7_map_cropped.png" />
                <img src="/src/images/photo-expeditions/7_pic.jpeg" />
            </div>
            <div class="card" id="loc-8">
                <h2>8. Dock Benches</h2>
                <p>Contributed By: Neptunya<br>In Front of the Mayor's Residence, Florawish</p>
                <img src="/src/images/photo-expeditions/8_map_cropped.png" />
                <img src="/src/images/photo-expeditions/8_pic.jpeg" />
            </div>
            <div class="card" id="loc-10">
                <h2>10. Ruins Plaza Corner</h2>
                <p>Contributed By: Neptunya<br>Dream Warehouse Spiral Corridor, Florawish</p>
                <img src="/src/images/photo-expeditions/10_map_cropped.png" />
                <img src="/src/images/photo-expeditions/10_pic.jpeg" />
            </div>
            <div class="card" id="loc-11">
                <h2>11. Emerald Pond</h2>
                <p>Contributed By: Neptunya<br>Cavern Near the Warehouse, Florawish</p>
                <img src="/src/images/photo-expeditions/11_map_cropped.png" />
                <img src="/src/images/photo-expeditions/11_pic.jpeg" />
            </div>
            <div class="card" id="loc-14">
                <h2>14. Sanctum of the Observant</h2>
                <p>Contributed By: Neptunya<br>In Front of the Sanctum of the Observant, Florawish</p>
                <img src="/src/images/photo-expeditions/14_map_cropped.png" />
                <img src="/src/images/photo-expeditions/14_pic.jpeg" />
            </div>
</PhotoExpeditionsLayout>
