---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import '../../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/png" href="src/images/pearfect_pal_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<title>Photo Expeditions | INL</title>
	</head>
	<body>
		<Header />
		<div class="content-container">
			<h1>Photo Expeditions</h1>
			<p>Last Updated: 11/09/2024</p>
			<p>Need some help with photo Expedition locations and camera positioning? Look no further, your fellow stylists are here to help! Have information for locations not on this page? Join the <a href=https://discord.gg/infinitynikki>Infinity Nikki Discord server</a> and make your submission through the compendium forum!</p>
		</div>
		<Footer />
		<script>
			import "../../scripts/script.js";
		</script>
	</body>
</html>