---
import PhotoExpeditionsLayout from '../../layouts/PhotoExpeditionsLayout.astro';
import '../../styles/global.css';
import '../../styles/photo-expeditions.css';
---

<PhotoExpeditionsLayout>
    <div class="card" id="loc-0">
        <p>
            Enter a number above <br>
            We are currently missing entries for photo spots: 1, 2, 3, 5, 6, 9, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35 <br>
        </p>
    </div>
    
            <div class="card" id="loc-1">
                <h2>1. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-2">
                <h2>2. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-3">
                <h2>3. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-4">
                <h2>4. Lilina's Statue</h2>
                <p>Contributed By: Neptunya<br>In Front of the Mayor's Residence, Florawish</p>
                <img src="/src/images/photo-expeditions/4_map_cropped.png" />
                <img src="/src/images/photo-expeditions/4_pic.jpeg" />
            </div>
            <div class="card" id="loc-5">
                <h2>5. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-6">
                <h2>6. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-7">
                <h2>7. Lakeside Picnic Area</h2>
                <p>Contributed By: Neptunya<br>In Front of the Mayor's Residence, Florawish</p>
                <img src="/src/images/photo-expeditions/7_map_cropped.png" />
                <img src="/src/images/photo-expeditions/7_pic.jpeg" />
            </div>
            <div class="card" id="loc-8">
                <h2>8. Dock Benches</h2>
                <p>Contributed By: Neptunya<br>In Front of the Mayor's Residence, Florawish</p>
                <img src="/src/images/photo-expeditions/8_map_cropped.png" />
                <img src="/src/images/photo-expeditions/8_pic.jpeg" />
            </div>
            <div class="card" id="loc-9">
                <h2>9. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-10">
                <h2>10. Ruins Plaza Corner</h2>
                <p>Contributed By: Neptunya<br>Dream Warehouse Spiral Corridor, Florawish</p>
                <img src="/src/images/photo-expeditions/10_map_cropped.png" />
                <img src="/src/images/photo-expeditions/10_pic.jpeg" />
            </div>
            <div class="card" id="loc-11">
                <h2>11. Emerald Pond</h2>
                <p>Contributed By: Neptunya<br>Cavern Near the Warehouse, Florawish</p>
                <img src="/src/images/photo-expeditions/11_map_cropped.png" />
                <img src="/src/images/photo-expeditions/11_pic.jpeg" />
            </div>
            <div class="card" id="loc-12">
                <h2>12. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-13">
                <h2>13. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-14">
                <h2>14. Sanctum of the Observant</h2>
                <p>Contributed By: Neptunya<br>In Front of the Sanctum of the Observant, Florawish</p>
                <img src="/src/images/photo-expeditions/14_map_cropped.png" />
                <img src="/src/images/photo-expeditions/14_pic.jpeg" />
            </div>
            <div class="card" id="loc-15">
                <h2>15. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-16">
                <h2>16. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-17">
                <h2>17. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-18">
                <h2>18. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-19">
                <h2>19. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-20">
                <h2>20. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-21">
                <h2>21. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-22">
                <h2>22. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-23">
                <h2>23. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-24">
                <h2>24. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-25">
                <h2>25. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-26">
                <h2>26. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-27">
                <h2>27. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-28">
                <h2>28. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-29">
                <h2>29. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-30">
                <h2>30. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-31">
                <h2>31. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-32">
                <h2>32. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-33">
                <h2>33. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-34">
                <h2>34. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
            <div class="card" id="loc-35">
                <h2>35. Has yet to be discovered</h2>
                <p>Contributed By: This could be you!</p>
            </div>
</PhotoExpeditionsLayout>
