---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import SimOptions from '../../components/SimulationOptions';
import '../../styles/global.css';
import '../../styles/database.css';
import '../../styles/reso-sim.css';
---

<html lang="en">
	<!-- Update description + title! -->
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/images/nikki_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="Infinity, Nikki, IN, Library, Information, Guides, Compendium, Resources">
		<meta name="description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland.">
		
		<meta property="og:title" content="Infinity Nikki Library">
		<meta property="og:description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland.">
		<meta property="og:image" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		<meta property="og:image:url" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		<meta property="og:image:type" content="image/png" />
		<meta property="og:url" content="https://infinitynikkilibrary.com/">
		<meta property="og:type" content="website">
		
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Infinity Nikki Library">
		<meta name="twitter:description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland.">
		<meta name="twitter:image" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		
		<title>Infinity Nikki Library</title>
	</head>
	<body>
		<Header />
        <div class="content-container">
            <div id="collapsible-options">
				<button type="button" class="collapsible active">
                    <p>Options</p>
                    <p>+</p>
                </button>
                <div id = "options-container">
					<div id="alert"></div>
                    <SimOptions client:only="react" />
                </div>
            </div>
			<div id="loading-screen" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); display: flex; align-items: center; justify-content: center; z-index: 9999;">
				<div style="color: white;">
					<svg style="width: 50px; height: 50px; animation: spin 1s linear infinite;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
						<circle cx="25" cy="25" r="20" stroke="white" stroke-width="5" fill="none" stroke-linecap="round" stroke-dasharray="31.415, 31.415">
							<animateTransform attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="1s" repeatCount="indefinite" />
						</circle>
					</svg>
				</div>
			</div>
            <div id="chart-container"></div>
        </div>
        <Footer />
		<script>
			import "../../scripts/resize.js";
            import "../../scripts/reso-sim.js";
            import "../../scripts/sim-chart.js";
		</script>
	</body>
</html>