---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import SimOptions from '../../components/SimulationOptions';
import '../../styles/global.css';
import '../../styles/database.css';
import '../../styles/reso-sim.css';
---

<html lang="en">
	<!-- Update description + title! -->
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/images/nikki_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="Infinity, Nikki, IN, Library, Information, Guides, Compendium, Resources">
		<meta name="description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland.">
		
		<meta property="og:title" content="Infinity Nikki Library">
		<meta property="og:description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland.">
		<meta property="og:image" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		<meta property="og:image:url" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		<meta property="og:image:type" content="image/png" />
		<meta property="og:url" content="https://infinitynikkilibrary.com/">
		<meta property="og:type" content="website">
		
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Infinity Nikki Library">
		<meta name="twitter:description" content="A compendium of information and guides for Infinity Nikki, curated by your fellow stylists in Miraland.">
		<meta name="twitter:image" content="https://infinitynikkilibrary.com/images/nikki_embed.png">
		
		<title>Infinity Nikki Library</title>
	</head>
	<body>
		<Header />
        <div class="content-container">
            <div id="collapsible-options">
                <button type="button" class="collapsible">
                    <p>Options</p>
                    <p>+</p>
                </button>
                <div id = "options-container">
                    <SimOptions client:load />
                </div>
            </div>
            <div id="chart-container"></div>
        </div>
        <Footer />
		<script>
			import "../../scripts/resize.js";
            import "../../scripts/reso-sim.js";
            import "../../scripts/sim-chart.js";
		</script>
	</body>
</html>