---
---
<style>
		footer {
			display: flex;
			gap: 1rem;
			margin-top: 2rem;
		}
	</style>

<footer>
	<p>Come join the community at the <a href=https://discord.gg/infinitynikki>Infinity Nikki Discord server</a>!</p>
</footer>