---
---
<style>
	footer {
		background-color: #1d1b26;
		padding: 1rem 5rem;
		text-align: center;
		height: 70px;
	}
	
	footer p {
    	margin: 0.5rem;
    }
</style>

<footer>
	<p>Website built by Neptunya</p>
</footer>