---
---
<style>
	footer {
		background-color: #1d1b26;
		padding: 1rem 5rem;
		text-align: center;
		height: 110px;
	}
	
	footer p {
    	margin: 0.5rem;
    }
</style>

<footer>
	<p>Website built by Neptunya</p>
	<p>Come join the community at the <a href=https://discord.gg/infinitynikki>Infinity Nikki Discord server</a>!</p>
</footer>