---
---
<style>
	footer {
		background-color: #1d1b26;
		padding: 1rem 5rem;
		text-align: center;
		height: 100px;
	}
	
	footer p {
    	margin: 0.5rem;
    }
</style>

<footer>
	<p>Website built by <a href=https://github.com/Neptunya/infinity-nikki-library>Neptunya</a></p>
	<p><small>&copy; 2024 Neptunya. All rights reserved.</small></p>
</footer>