---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header>
	<div class="header-block">
		<a href="/">
			<img src="/images/pearfect_pal_logo.png" class="logo"/>
		</a>
		<Hamburger />
		<div class="break"></div>
		<Navigation />
	</div>
</header>