---
---
<div class="nav-links">
	<a href="/">Home</a>
	<a href="/database">Database</a>
	<a href="/resources">Resources</a>
	<a id="login-vert" class="hidden" href="https://discord.com/oauth2/authorize?client_id=1320670335896387615&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4321%2Fdashboard&scope=identify">Log In</a>
	<a id="logout-vert" class="hidden, logout">Log Out</a>
</div>
<div class="user-links">
	<a id="login-hori" class="hidden" href="https://discord.com/oauth2/authorize?client_id=1320670335896387615&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A4321%2Fdashboard&scope=identify">Log In</a>
	<a id="logout-hori" class="hidden, logout">Log Out</a>
</div>
<script>
	import '../scripts/navigation.js'
</script>