--
-- PostgreSQL database dump
--

-- Dumped from database version 17.1
-- Dumped by pg_dump version 17.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: item_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_details (
    "Name" character varying(255) NOT NULL,
    "Rarity" integer,
    "Slot" character varying(255),
    "Outfit" character varying(255),
    "Labels" character varying(255),
    "Source" character varying(255),
    "Style" character varying(255)
);


ALTER TABLE public.item_details OWNER TO postgres;

--
-- Name: level_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.level_details (
    "Name" character varying(255) NOT NULL,
    "Rarity" integer,
    "Slot" character varying(255),
    "Outfit" character varying(255),
    "Level" integer NOT NULL,
    "Elegant" integer,
    "Fresh" integer,
    "Sweet" integer,
    "Sexy" integer,
    "Cool" integer,
    "Blings" integer,
    "Threads" integer,
    "Bubbles" integer,
    "Style" character varying(255)
);


ALTER TABLE public.level_details OWNER TO postgres;

--
-- Data for Name: item_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: level_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: item_details item_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_details
    ADD CONSTRAINT item_details_pkey PRIMARY KEY ("Name");


--
-- Name: level_details level_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.level_details
    ADD CONSTRAINT level_details_pkey PRIMARY KEY ("Name", "Level");


--
-- Name: level_details level_details_Name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.level_details
    ADD CONSTRAINT "level_details_Name_fkey" FOREIGN KEY ("Name") REFERENCES public.item_details("Name");


--
-- PostgreSQL database dump complete
--

