---
import '../styles/global.css';
import '../styles/photo-expeditions.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const title = 'Photo Expeditions';
const createDate = '11/08/2024';
const lastUpdated = '11/09/2024';
const description = 'Need some help with photo expedition locations and camera positioning?';
const image = '//images/photo-expeditions/photo_expeditions_thumbnail.png';
const link = '/resources/photo-expeditions/'
export { title, createDate, lastUpdated, description, image, link };
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" type="image/png" href="/images/pearfect_pal_logo.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width" />
		<title>Photo Expeditions | INL</title>
	</head>
	<body>
		<Header />
		<div class="banner-container" id="photo-expeditions-banner"></div>
		<div class="content-container">
			<h1>Photo Expeditions</h1>
			<p>Last Updated: {lastUpdated}</p>
			<p>Need some help with photo expedition locations and camera positioning? Look no further, your fellow stylists are here to help! Have information for locations not on this page? Join the <a href=https://discord.gg/infinitynikki>Infinity Nikki Discord server</a> and make your submission through the compendium forum!</p>
			<p>Can also replace images with pear-fect guide's work, images are just placeholders to show site functionality.</p>
			
			<label for="photo-expedition-number">Photo Expedition Number:</label>
			<input type="number" id="photo-expedition-number" name="photo-expedition-number" value="0" min="1" max="35" />
			
			<slot />
			
		</div>
		<Footer />
		<script>
			import "../scripts/script.js";
			import "../scripts/photo-expeditions.js"
		</script>
	</body>
</html>